@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-400.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 1);
  min-height: 100%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}


a {
  text-decoration: none;
  color: #000;
}



ul {
  margin: 0;
  list-style-type: none;
}



hr {
  border: none;
  width: 60px;
  height: 2px;
  margin: 0 auto;
}

.visually-hidden {
  display: none;
}

/* Навигация */
.navigation {
  box-sizing: border-box;
  display: flex;
  width: 1200px;
  height: 64px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 70px;
  gap: 30px;
  margin: 0 auto;
}

.navigation-logo {
  z-index: 1;
}

.navigation-list {
  display: flex;
  width: 339px;
  align-items: center;
  margin-right: auto;
}

.navigation-link {
  padding: 20px 16px;
}


.navigation-button-list {
  display: flex;
  max-width: 380px;
  align-items: center;
  margin-left: auto;

}

.navigation-icon-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 64px;
}

.navigation-favorite-counter {
  position: absolute;
  top: 11px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.navigation-button a {
  width: 160px;
  height: 36px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  padding: 8px 34px;
  margin: auto 0;
  margin-left: 20px;
}


.main-header {
  width: 1200px;
  height: 485px;
  background-image: url("img/backgrounds/divider.png"), url("img/backgrounds/index-background.jpg");
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-size: 100% auto, cover;
}

.main-title {
  padding: 51px 371px 82px;
}

.main-container {
  flex-grow: 1;
}



.main-index {
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}


.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item,
.card-advantage {
  box-sizing: border-box;
  width: 400px;
  height: 385px;
  align-items: center;
  padding: 102px 85px;
}

.big-card {
  display: flex;
  width: 1200px;
  padding: 0;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.advantage-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 30px;
}

.recomendations-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1200px;
}

.recomendation-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-height: 385px;
  padding: 81px 85px;
}

.recomendation-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 30px 0;
}

.house-icon,
.food-icon,
.souvenir-icon {
  background-repeat: no-repeat;
  left: 163px;
  top: 81px;
  width: 75px;
  min-height: 72px;
  background-size: contain;
  margin: 0 auto;
  background-position: center;
}

.house-icon {
  background-image: url(img/icons/house-icon.svg);
}

.food-icon {
  background-image: url(img/icons/food-icon.svg);
}

.souvenir-icon {
  background-image: url(img/icons/souvenir-icon.svg);
}

.recomendation-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.phone-number-link {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}


.background-blue {
  background-color: #82B3D3;
  color: #fff;
}

.background-blue hr {
  background-color: rgba(255, 255, 255, 0.3);
  align-items: center;
}

.background-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
}

.background-light hr {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-dark {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000;
}

.background-dark hr {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Свойства каталога */
.filters {
  background-image: url(img/backgrounds/catalog-background.jpg);
  background-repeat: no-repeat;
  color: #fff;
}

.catalog-heading {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

.breadcrumb-item,
.breadcrumb-item a {
  display: inline;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

fieldset {
  border: none;
}

.infrastructure-title,
.price-slider-title,
.hotel-type-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.infrastructure-item,
.price-slider-item,
.hotel-type-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.price-input {
  padding: 12px 20px;
  border-radius: 4px;
}

.filters-list {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  border-radius: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.filter-item {
  width: 141px;
  height: 21px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.catalog-view-button {
  display: inline;
}

.view-button-title,
.view-button-card,
.view-button-list {
  border: 2px solid rgba(229, 229, 229, 1);
  width: 48px;
  height: 48px;
  padding: 14px 12px;
  gap: 10px;
  border-radius: 4px;
}

.view-button-title {
  background-image: url(img/icons/title.svg);
  background-repeat: no-repeat;
}

.view-button-card {
  background-image: url(img/icons/slideshow.svg);
  background-repeat: no-repeat;
}

.view-button-list {
  background-image: url(img/icons/list.svg);
  background-repeat: no-repeat;
}

.button-active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-view-button:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.catalog-item {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 340px;
  height: 438px;
  padding: 20px;
  gap: 16px;
  border-radius: 4px;
  text-align: center;
}

.catalog-item-photo {
  width: 300px;
  height: 212px;
  padding: 20px 20px 16px;
}

.catalog-item-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  width: 300px;
  height: 28px;
  top: 248px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.catalog-item-text {
  width: 300px;
  height: 21px;
  padding: 8px 20px 16px;
  justify-content: space-between;
  text-align: left;
  margin: 0;
}

.catalog-item-type {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
  height: 21px;
}

.catalog-item-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
  height: 21px;
}

.catalog-item-more {
  width: 140px;
  height: 36px;
  padding: 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background: rgba(117, 97, 87, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.catalog-item-favorite {
  width: 140px;
  height: 36px;
  padding: 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background: rgba(130, 179, 211, 1);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.catalog-item-stars {
  text-align: left;
  width: 140px;
  height: 37px;
  gap: 6px;
  padding: 16px 20px 20px;
}

.catalog-item-rating {
  width: 95px;
  height: 20px;
  top: 9px;
  left: 183px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  margin: 0;
}

.catalog-underline {
  width: 1060px;
  border: 1px solid rgba(230, 230, 230, 1);
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-slider {
  width: 1060px;
  height: 307px;
  gap: 40px;
  padding: 40px 70px 60px 40px;
}

.catalog-slider-item {
  display: inline;
}

.page-slider {
  width: 60px;
  height: 60px;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
  border-radius: 4px;
  background: rgba(130, 179, 211, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #fff;
  border: none;
}

.page-active {
  width: 60px;
  height: 60px;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
  border-radius: 4px;
  border: none;
  background: rgba(242, 242, 242, 1);
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000;
}

.page-slider:hover {
  background-color: rgba(130, 179, 211, 0.5);
}

.page-skip {
  width: 60px;
  height: 60px;
  border: 4px;
  padding: 16.36px 21.45px 17.64px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000;
}




.contacts {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: auto;
  padding: 0;
}

.socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 142px;
  height: 40px;
  margin: auto;
}

.phone-number-link {
  width: 720px;
  height: 50px;
  margin: auto;
}

.academy-logo {
  margin: auto;

}


/* Секции с описанием */


.sedona-about h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.sedona-about p {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.heading-about {
  padding-top: 69px;
  margin-bottom: 25px;
}

.description-about {
  padding-bottom: 69px;
}

.heading-about-reasons {
  padding-top: 64px;
  margin-bottom: 20px;
}

.description-about-reasons {
  padding-bottom: 64px;
}

.interesting {
  display: flex;
  flex-direction: column;
  padding: 96px 304px;
}

.heading-interesting {
  margin-bottom: 20px;
}

.description-interesting {
  margin-bottom: 54px;
}

.hotel-search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  width: 376px;
  padding: 8px 0;
  margin: 0 auto;
}


.subscribe {
  color: #fff;
  background-image: url(img/backgrounds/footer-background.jpg);
  background-repeat: no-repeat;
  padding: 96px 258px 104px;
}

.subscribe-form {
  display: flex;
  border: none;
}

input[type=submit] {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
  background: #82b3d3;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type=email] {
  border-radius: 4px 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  background-color: #f2f2f2;
  text-align: left;
  border: none;
  outline: none;
  flex-grow: 1;
}

.sedona-subscribe {
  text-align: center;
  padding: 96px 258px 104px;
  color: rgba(255, 255, 255, 1);
}

.index-subscribe {
  background-image: url(img/backgrounds/footer-background.jpg);
  background-repeat: no-repeat;
}

.catalog-subscribe {
  color: #000000;
}


.submit-button{
 border-style: none;
}



.heading-subscribe {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.description-subscribe {
  margin-bottom: 54px;
}





/* Ивенты */
