@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-400.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url(fonts/ptsans-700.woff2);
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

ul {
  margin: 0;

  list-style-type: none;
}

/* li{
  display: inline;
} */
a {
  text-decoration: none;
  color: #000000;
}

hr {
  border: none;
  width: 60px;
  height: 2px;
  color: 30%;
}

input {
  box-shadow: none;
}


.visually-hidden {
  display: none;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000;
  font-weight: 400;
}

.main-header {
  background-image: url(img/backgrounds/index-background.jpg);
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-size: 100% auto, cover;
}

.main-index {
  text-align: center;
}


.navigation-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.divider {
  background-image: url(img/backgrounds/divider.png);
  position: absolute;
  width: 1200px;
  height: 57px;
  top: 428px;
}

.page-header {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  /* width: 1200px;
  height: 64px;
  padding-right: 70px;
  padding-left: 70px; */

}

/* .navigation-link{
  padding-top: 20px;
  padding-right: 16px;
  padding-bottom: 20px;
  padding-left: 16px;
}
.navigation-link-active{
  border-bottom: 2px;
}
.navigation-button{
    padding-top: 22px;
    padding-right: 12px;
    padding-bottom: 22px;
    padding-left: 12px;
} */

.sedona-about {
  text-align: center;
}

h2 {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list {
  text-align: center;
}

.advantage-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantage-item {
  width: Fixed (400px)px;
  height: Fixed (385px)px;
  padding: 103px 85px 103px 85px;
  gap: 10px;
}

.recomendations-list {
  text-align: center;
}

.recomendation-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.recomendation-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.recomendation-item {
  width: Fixed (400px)px;
  height: Fixed (385px)px;
  left: 800px;
  padding: 80px 85px 80px 85px;
  gap: 10px;
}

.hotel-search {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(117, 97, 87, 1);
  border-radius: 4px;
  border-width: 376px;
  height: 52px;
}

.subscribe {
  color: #ffffff;
  background-image: url(img/backgrounds/footer-background.jpg);
  background-repeat: no-repeat;
  width: Hug (1, 200px)px;
  height: Hug (414.86px)px;
  padding: 96px 258px 104px 258px;
  gap: 10px;
}

input[type="submit"] {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: 232px;
  height: 52px;
}

input[type="email"] {
  width: fill;
  height: fill;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  gap: 260px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;

}

.phone-number-link {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.background-blue {
  background-color: #82B3D3;
  color: #ffffff;
}

.background-blue hr {
  background-color: rgba(255, 255, 255, 0.3);
}

.background-light {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.background-light hr {
  background-color: rgba(0, 0, 0, 0.3);
}

.background-dark {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000000;
}

.background-dark hr {
  background-color: rgba(0, 0, 0, 0.3);
}


/* Свойства каталога */

.filters {
  background-image: url(img/backgrounds/catalog-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  /* width: 1200px;
  height: 412px;
  top: 64px;
  padding: 35px 70px 70px 70px;
  gap: 10px; */
}

/* .filters-section {
  width: 1060px;
  height: 307px;
  gap: 40px;
} */

.catalog-heading {
  font-family: "PT Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

/* .filters {
  width: 1200px;
  height: 412px;
  top: 64px;
  padding: 35px 70px 70px 70px;
  gap: 10px;
} */

.icon-item {
  display: inline;
  color: #ffffff;
}

fieldset {
  border: none;
}

.infrastructure-title,
.price-slider-title,
.hotel-type-title {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.infrastructure-item,
.price-slider-item,
.hotel-type-item {
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.price-input {
  width: Fixed (143px)px;
  height: Hug (48px)px;
  padding: 12px 20px 12px 20px;
  border-radius: 4px;
}

/* .catalog {
  width: 1200px;
  height: 1235px;
  padding: 50px 70px 60px 70px;
  gap: 40px;
} */

.filters-list {
  width: 292px;
  height: 49px;
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  border: 2px solid rgba(229, 229, 229, 1);
  /*width: 141px;
  height: 21px; */
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.filter-item {
  width: 141px;
  height: 21px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

.catalog-view-button {
  display: inline;
}

.catalog-button-icon {
  border: 2px solid rgba(229, 229, 229, 1);
  width: Fixed (48px)px;
  height: Fixed (48px)px;
  padding: 14px 12px 14px 12px;
  gap: 10px;
  border-radius: 4px;
}

.catalog-button-active {
  border: 2px solid rgba(0, 0, 0, 1)
}

.catalog-button-icon:hover {
  border: 2px solid rgba(0, 0, 0, 1)
}

/* .catalog-list {
  width: 1060px;
  height: 896px;
  gap: 20px;
} */

.catalog-item {
  border: 1px solid rgba(230, 230, 230, 1);
  width: 340px;
  height: 438px;
  padding: 20px;
  gap: 16px;
  border-radius: 4px;
  text-align: center;
}

.catalog-item-photo {
  width: 300px;
  height: 212px;
  padding: 20px;
  padding-bottom: 16px;
}

.catalog-item-name {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  width: 300px;
  height: 28px;
  top: 248px;
  left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}


.catalog-item-text {
  width: 300px;
  height: 21px;
  padding: 8px 20px 16px 20px;
  justify-content: space-between;
  text-align: left;
  margin: 0;
}

.catalog-item-type {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
  height: 21px;
}

.catalog-item-price {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 140px;
  height: 21px;
}

.catalog-item-more {
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background: rgba(117, 97, 87, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.catalog-item-favorite {
  width: 140px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border-radius: 4px;
  background: rgba(130, 179, 211, 1);
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

}

.catalog-item-stars {
  text-align: left;
  width: 140px;
  height: 37px;
  gap: 6px;
  padding: 16px 20px 20px 20px;
}

.catalog-item-rating {
  width: 95px;
  height: 20px;
  top: 9px;
  left: 183px;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: right;
  margin: 0;
}

.catalog-underline {
  width: 1060px;
  border: 1px solid rgba(230, 230, 230, 1)
}

.catalog-slider {
  width: 1060px;
  height: 307px;
  gap: 40px;
  padding-left: 70px;
  padding: 40px 70px 60px 40px;
}

.catalog-slider-item {
  display: inline;
}

.page-slider {
  width: 60px;
  height: 60px;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
  border-radius: 4px;
  background: rgba(130, 179, 211, 1);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.page-active {
  width: 60px;
  height: 60px;
  padding-top: 11.36px;
  padding-bottom: 12.64px;
  border-radius: 4px;
  border: none;
  background: rgba(242, 242, 242, 1);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.page-slider:hover {
  border: 2px solid rgba(0, 0, 0, 1)
}

.page-skip {
  width: 60px;
  height: 60px;
  border: 4px;
  padding: 16.36px 21.45px 17.64px 21.45px;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #000000;
}
